.contact__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact__orbe {
  width: 300px;
  height: 165px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 80px 80px 32px 32px;
}

.contact__card {
  width: 100%;
}

.contact__card_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  border-radius: 12px;
  border: 2px solid hsl(228, 99%, 98%);
  box-shadow: 0 16px 32px rgba(200, 200, 200, 0.5);
  transition: 0.3s;
}
.contact__card_box:hover {
  box-shadow: 0 8px 25px hsla(228, 66%, 45%, 0.1);
}

.contact__card_info {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.contact__card_title {
  font-size: 0.938rem;
}

.contact__card_description {
  font-size: 0.75rem;
}

@media screen and (max-width: 1024px) {
  .contact__card_title {
    font-size: 1rem;
  }
  .contact__card_description {
    font-size: 0.813rem;
  }
}
